h3{
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: left;
}
.row{
    display: flex;
}
.heading
{
    background-color: rgb(184, 156, 88);
}
.sol
{
    margin-left: 10px;
    margin-right: 10px;
    border: 2px black solid;
    background-color: rgb(158, 181, 224);
    width: 40%;
    text-align: center;
}
.column
{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px black solid;
    background-color: rgb(158, 181, 224);
}
.abt
{
    column-count: 3;
    column-width: 100%;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-color: black;
    column-rule-width: 3px;
    padding: 40px;
    
}

#solution{
    resize: both;
    background-color: rgb(177, 167, 167);
    padding: 5px;
}
#covidgif{
    animation: rightdown 3s infinite alternate;
}
@keyframes rightdown{
    0%{
        transform: translateX(0px);
    }
    33%{
        transform: translateX(500px);
    }
    66%{
        transform: translate(500px,80px);
    }
    100%{
        transform: translate(1000px,80px);
    }
}